@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap');
@import 'primeicons/primeicons.css';

body, html {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Rubik", sans-serif;
}